spring:
  application:
    name: rest-with-spring-boot
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 200MB
  flyway:
    schemas: rest_with_spring_boot
    default-schema: rest_with_spring_boot
logging:
  level:
    root: INFO
    com.lcmuniz.rest_with_spring_boot: DEBUG

file:
  upload-dir: ./tmp/uploads