spring:
  application:
    name: rest-with-spring-boot
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update

    open-in-view: false
logging:
  level:
    root: INFO
    com.lcmuniz.rest_with_spring_boot: DEBUG